<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE configuration-->
<!--        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-config.dtd">-->

<!--<configuration>-->
<!--    <environments default="development">-->
<!--        <environment id="operator">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/operator"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="5201314Eminem"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--        <environment id="books">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/books"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="5201314Eminem"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--        <environment id="resources">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/resources"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="5201314Eminem"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

<!--    <mappers>-->
<!--        <mapper class="com.shu.mapper.UserMapper"/>-->
<!--    </mappers>-->


<!--    &lt;!&ndash; 其他MyBatis配置项 &ndash;&gt;-->
<!--</configuration>-->
