<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.mapper.BookMapper">
    <select id="findBooks" resultType="com.shu.entity.vo.request.Book">
        select *
        from book
        <where>
            <if test="bookName != null and bookName != '' ">
                book_name like concat('%',#{bookName},'%')
            </if>
            <if test="bookName != null and bookName != '' ">
                or book_author like concat('%',#{bookName},'%')
            </if>
            <if test="bookName != null and bookName != ''  ">
                or book_version like concat('%',#{bookName},'%')
            </if>
            <if test="bookName != null and bookName != '' ">
                or book_publish_house like concat('%',#{bookName},'%')
            </if>
        </where>
        order by book_click_num desc
    </select>

    <select id="countBooks" resultType="Integer">
        select COUNT(*)
        from book
        <where>
            <if test="bookName != null and bookName != '' ">
                book_name like concat('%',#{bookName},'%')
            </if>
            <if test="bookName != null and bookName != '' ">
                or book_author like concat('%',#{bookName},'%')
            </if>
            <if test="bookName != null and bookName != ''  ">
                or book_version like concat('%',#{bookName},'%')
            </if>
            <if test="bookName != null and bookName != '' ">
                or book_publish_house like concat('%',#{bookName},'%')
            </if>
        </where>
        order by book_click_num desc
    </select>
</mapper>